# Исключаем временные файлы и системные файлы
*.log
*.tmp
*.DS_Store
Thumbs.db

# Исключаем изображения, если они не нужны в репозитории


# Исключаем папки, которые не должны быть в репозитории
node_modules/
.vscode/

# Исключаем файлы операционной системы
*.ini
*.bak
*.swp